# ─── ядро ────────────────────────────────────────────────────────────
ultralytics>=8.3.0     # YOLOv8 (+ автоматически ставит torch)
shapely>=2.0.0         # геометрия (AOI, грид-линии)
ortools>=9.7.0         # маршрутизация / TSP
pydantic[dotenv]>=2.6  # типизированные DTO + чтение .env при желании

# ─── работа с изображениями ─────────────────────────────────────────
opencv-python>=4.10
numpy>=1.26

# ─── GUI (опционально) ───────────────────────────────────────────────
PyQt5>=5.15            # если будете запускать ui/qt/windows.py

# ─── YAML конфиги ────────────────────────────────────────────────────
PyYAML>=6.0
